.main_div {
  background-image: url("../../../assets/images/header_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25%;
  width: 100%;
  background-position: bottom;

  --background: var(--bg-color);
}