<!-- <ion-header class="header_bg bg-transparent">
	<ion-toolbar>
		<ion-buttons slot="start">			
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>		
	</ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <!-- <a href="http://maps.google.com/?q={{ latlong?.lat }},{{ latlong?.long }}" target="_blank"> -->
      <ion-fab-button color="danger" edge="true" (click)="getDirection()">
        <ion-icon name="pin"></ion-icon>
      </ion-fab-button>
    <!-- </a> -->
  </ion-fab>

  <div class="total_text">
    <ion-button fill="clear" (click)="dismiss()">
      <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
    </ion-button>    
  </div>

  <div class="map-wrapper">    
    <div #map id="map"></div>
  </div>  

  <!-- <div id="address">
    <span>{{address}}</span>
  </div> -->
</ion-content>